#**Project1: HR**
## **Sihan Fu(1194226)**
## **CPS3320*16**

##**Task1：Data Loading and Cleaning**
###a) Write a function load_data(file_path) that loads the CSV file into a pandas Data Frame.
###b) Write a function clean_data(df) that:
###▪ Checks for and handles any missing values.
###▪ Ensures data types are appropriate for analysis.

In [2]:
import employee_analysis as ea

file_path = './employees.csv'

# Load data
df = ea.load_data(file_path)

if df is not None:
    # Clean data
    df_cleaned = ea.clean_data(df)
    print(df_cleaned.head())  # Display the first few rows of the cleaned data

Data loaded successfully.
Data cleaning completed.
   Employee ID First Name  Last Name        Department  Hire Date  Salary  \
0      1234567      Emily    Johnson                IT 2018-04-10   58000
1      2345678  Alexander  Kuznetsov                HR 2021-08-21   46000
2      3456789        Mia       Wong         Logistics 2019-01-30   49000
3      4567890       Noah     Miller  Customer Service 2022-03-15   41000
4      5678901   Isabella      Rossi                IT 2017-05-22   54000

  Employment Status
0         FULL_TIME
1         PART_TIME
2         FULL_TIME
3         PART_TIME
4         FULL_TIME

##**Task2: Decision Making and Loop**
###a) Write a function calculate_average_salary(df, department) that:
###▪ Takes the DataFrame and a department name as input.
###▪ Returns the average salary of employees in that department.
###b) Write a function find_employees_with_experience(df, years) that:
###▪ Takes the DataFrame and a number of years as input
###▪ Returns a list of names of employees with experience greater than or equal to the specified years

In [4]:
# View all department names
print(df_cleaned['Department'].unique())

# Example usage of the functions
if df_cleaned is not None:
    average_salary_hr = ea.calculate_average_salary(df_cleaned, 'HR')
    print(f"Average salary in HR department: {average_salary_hr}")

    experienced_employees = ea.find_employees_with_experience(df_cleaned, 5)
    print(f"Employees with 5 or more years of experience: {experienced_employees}")

['IT' 'HR' 'Logistics' 'Customer Service']
Average salary in HR department: 55666.666666666664
Employees with 5 or more years of experience: ['Emily Johnson', 'Mia Wong', 'Isabella Rossi', 'Sofia Kim', 'Ava Kovak', 'Abigail Yamamoto', 'Madison da Silva']

##**Task 3: Functions and Modules**
###a) Write a function get_department_statistics(df) that:
###▪ Returns a dictionary with department names as keys and their respective average salaries and average“ages” as values.
###Example output: {'HR': {'Average Salary': 50000, 'Average Age': 3}, ...}
###b) Write a module named employee_analysis.py and move all the above functions to this module. Import this module into your main script and call the functions as needed.

In [5]:
if df_cleaned is not None:
    department_statistics = ea.get_department_statistics(df_cleaned)
    print(department_statistics)

{'IT': {'Average Salary': 56000, 'Average Age': 6}, 'HR': {'Average Salary': 55667, 'Average Age': 3}, 'Logistics': {'Average Salary': 48667, 'Average Age': 6}, 'Customer Service': {'Average Salary': 42500, 'Average Age': 2}}

##**Task4: Data Visualization with Matplotlib**
###a) Write a function plot_salary_distribution(df) that:
###▪ Plots the distribution of salaries using a histogram.
###b) Save the plot as salary_distribution.png.
###c) Write a function plot_average_salary_by_department(df) that:
###▪ Plots the average salary by department using a bar chart
###d) Save the plot as average_salary_by_department.png

In [6]:
if df is not None:
    df_cleaned = ea.clean_data(df)

    # Generate salary distribution map
    ea.plot_salary_distribution(df_cleaned)

    # Generate a bar chart of average salary by department
    ea.plot_average_salary_by_department(df_cleaned)

Data cleaning completed.
Saved salary distribution plot as salary_distribution.png.
Saved average salary by department plot as average_salary_by_department.png.

##**Task 5: Data Visualization with Seaborn and Plotly**
###a) Write a function plot_salary_vs_experience(df) that:
###▪ Plots a scatter plot of salary vs. experience using Seaborn.
###b) Save the plot as salary_vs_experience.png
###c) Write a function plot_age_distribution_by_department(df) that:
###▪ Plots the distribution of ages for each department using a box plot with Plotly
###d) Save the plot as age_distribution_by_department.png

In [3]:
!pip install -U kaleido

if df is not None:

    # Generate salary vs experience scatter plot
    ea.plot_salary_vs_experience(df_cleaned)

    # Generate age distribution by department box plot
    ea.plot_age_distribution_by_department(df_cleaned)

Collecting kaleido
  Downloading kaleido-0.2.1-py2.py3-none-manylinux1_x86_64.whl (79.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.9/79.9 MB 8.0 MB/s eta 0:00:00
Installing collected packages: kaleido
Successfully installed kaleido-0.2.1
Saved salary vs experience plot as salary_vs_experience.png.
Saved age distribution by department plot as age_distribution_by_department.png.